.box {
  margin-top: -25vh;
  opacity: 0.95;
  padding: 5vh;
  transition: box-shadow .3s;
  width: 70%;
  border-radius: 10px;
  border: 1px solid #000000;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 1);
}


.login {
  min-height: 100vh;
  margin-right: 0;
}

.bg-image {
  background: linear-gradient(-45deg, #52c4ee, #1f8696, #dc83d9, #131316);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.login-heading {
  font-weight: 500;
  font-size: xx-large;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

section{
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 65vh;
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  tranform: translateX(-100%);
  transition: all 2s ;
}

.show{
  opacity: 1;
  filter: blur(0);
  tranform: translateX(0);
}

.animatedText{
  animation: gradient 5s ease-in-out infinite;
  background: linear-gradient(to right, #ee9ca7, #d35dd0, #41ce66, #245e33);
  background-size: 300%;
  background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;

}

.animatedLine{
  text-align: center;
  background: linear-gradient(to right, #1750bb, #f5576c, #41ce66, #245e33);
  background-size: 300%;
  background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
  padding-bottom: 10px;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.activeSection {
  transform: translateY(0);
  opacity: 1;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    filter: blur(4px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}
.slideIn {
  animation: 1s ease-out 0s 1 slideInLeft;
}
.box {
  margin-top: -25vh;
  opacity: 0.95;
  padding: 5vh;
  transition: box-shadow .3s;
  width: 70%;
  border-radius:10px;
  border: 1px solid #000000;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,1);
}
